.upper{
    background-color: #F0FFF0;
}

.in{
  color: #FFFFFF;
  background-color: #21B573;
  border-radius: 60px;
  
}
.nav-link{
    color: black;
}
.btn{
    color: #FFFFFF;
    background-color:#21B573;
    border-radius: 30px;
    width: 153px;
    height: 43px;
    margin-top: 20px;
}
p{
    color: tomato;
    margin-top: 100px;
}
#lorem{
    color: dimgray;
    margin-top: 50px;
}
span{
    color: #21B573;
}
h1{
    font-size: 50px;
    font-weight: 700;
    
}
.pic{
    width: 80px;
    height: 83px;
    margin: auto;
    margin-top: 40px;
}
.second{
    margin-top: 30px;
}
.card-title{
    text-align: center;
}
.card-text{
    text-align: center;
    margin-top: 5px;
}
.card{
    border: none;
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 15px;
}
.card-textt{
    margin-top: 4px;
}
.btnn{
    color: #FFFFFF;
    background-color:#21B573;
    border-radius: 30px;
    width: 153px;
    height: 43px;
    margin-top: 3px;
    border: none;
}
h3{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}
.third{
    margin-top: 50px;
}
.card-footer{
    border-top: none;
}
h6{
    padding-left: 28px;
    margin-top: -20px;
}
.lo{
    color: black;
    padding-left: 320px;
    margin-top: -90px;
}
.man{
    padding-left: 180px;
    margin-top: 30px;
}
.last{
    color: white;
    margin: 5px;
    text-align: center;
    
}
.end{
    background-color:#282531;
    margin-top: 100px;
    margin-bottom: 10px;
}
.mill{
    margin-top: 50px
}
footer{
    color: dimgray;
    padding-top: 70px;
    text-align: center;
    font-size: smaller;
    
}